/* .skills-container {
    margin: 10% 0 0 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10%;
} */

/* ul {
    list-style: none;
    font-size: 20px;
    line-height: 1.8em;
    text-align: center;
} */

@media only screen and (min-width: 900px) {
    ul {
        list-style: none;
        margin: 10%;
        font-size: 14px;
        line-height: 1.4em;
    }
}