* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.particle-container {
    position: absolute;
    left: 2vw;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    z-index: 0;
}

.content-container {
    height: 60vh;
    width: 70vw;
    margin: auto;
    padding: 30vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}